<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Het is een REST-api!</h1>
    <p>Jawel, het is de enige echte REST-api. Gemaakt in Node.js met Express.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/bartlangelaan/nodejs-rest-api">
      <span class="glyphicon glyphicon-folder-open"></span>
      Bekijk de broncode
    </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/bartlangelaan/nodejs-rest-api/archive/master.zip">
      <span class="glyphicon glyphicon-download"></span>
      Download de broncode
    </a>
  </div>
</div>

<div class="container">
  <h1>De checker</h1>
  <p>Via <a href="http://checker.basboot.nl/">checker.basboot.nl</a> is deze REST-api te checken. De uri is
    <code>https://stud.hosted.hr.nl/0895604/rest-api</code> en de fields zijn
    <code>title,body,user</code>.</p>
  <p>De daadwerkelijke API bevindt zich op <a href="https://bart-langelaan-rest-api.herokuapp.com/api">/api</a>.</p>
</div>

</body>
</html>
